.table_players {
    border-collapse: collapse;
    border-left: 3px solid #F79361;
    border-right: 3px solid #F79361;
    border-bottom: 3px solid #F79361;
    font-family: "Lucida Grande", sans-serif;
   }
.table_players caption {
    background: #F79361; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.table_players td, .table_players th {
    padding: 10px;
}
.table_players th {
    text-align: left;
    font-size: 18px;
}
.table_players tr:nth-child(2n) {
    background: #E5E5E5;
}
.table_players td:last-of-type {
    text-align: center;
}
.table_players a {
    display: inline-block;
    padding: 5px 10px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
    cursor: pointer;
}
.table_players a:not(.answered):hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
}