<!DOCTYPE html>

<html lang="ru-RU">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Своя игра </title>

    <link rel="stylesheet" href="../static/css/game_page.css">
</head>
<body class="outer">

    <table id="root" style="border-spacing: 15px;" class="inner">
        <tr>
            <th>
                <table class="table_players">
                    <caption> ТАБЛИЦА ИГРОКОВ </caption>
                    {{ range .Players }}

                    <tr>
                        <td> {{ .Name }} </td>
                        <td id="player{{ .Id }}"> {{ .Points }} </td>
                        <td><a href="javascript:AddPlayerPoints({{ .Id }})">Прибавить</a></td>
                        <td><a href="javascript:RemovePlayerPoints({{ .Id }})">Отнять</a></td>
                    </tr>

                    {{end}}

                </table>
            </th>
            <th>
                <table class="table_players">
                    <caption> ВОПРОСЫ </caption>

                    {{ range $theme, $questions := $.Questions }} 
                    <tr>
                        <th>{{ $theme }}</th>
                        {{ range $cost, $quest := index $.Questions $theme }}
                        <th>
                            {{ if eq $quest.Answered true }}
                            <a id="{{ $quest.Id }}" href="javascript:Nothing" class="answered"> БЫЛ </a>
                            {{ else }}
                            <a id="{{ $quest.Id }}" href="javascript:AnswerQuestion({{ $quest.Id }})"> {{ $quest.Cost }} </a>
                            {{ end }}
                        </th>
                        {{ end }}
                    </tr>
                    {{ end }}
                </table>
            </th>
        </tr>
    </table>
    
</body>
<script src="../static/js/game_page.js"></script>
</html>